---
galaxy_url: <galaxy_url>
galaxy_key: <galaxy_key>
# local or url
datasets_source: local
datasets:
  0: data/exons.bed
  1: data/SNPs.bed
library: "Test Library"
history: "Test History"
runtime_params:
  tool_0:
    param_0:
      name: lineNum
      value: 10
# local or id
workflow_source: local
workflow: workflows/galaxy101.ga
