---
# REQUIRED PARAMETERS

# Galaxy credentials
galaxy_url: <galaxy_url>
galaxy_key: <galaxy_key>

# 'local' or 'id'
workflow_source: local

# Specify a file for 'local' or a Galaxy ID for 'id'
workflow: workflows/galaxy101.ga

# Any name will do
history_name: "Test History"

# OPTIONAL PARAMETERS

# If a library name is provided a new library will be created and all data used in the workflow will be copied to it
# library_name: "Test Library"

# dataset_collection:
#   input_label: <some_label>
#   datasets:
#     0:
#       source: library
#       library_id: <library_id>
#       dataset_id: <dataset_id>
#     1:
#       source: local
#       dataset_id: <dataset_id>

# datasets:
#   0:
      # If source is 'local' then a 'dataset_file' parameter must be provided as well
#     source: local
#     dataset_file: data/exons.bed
#   1:
      # If source is 'library' then 'library_id' and 'dataset_id' parameters must also be provided
#     source: library
#     library_id: <library_id>
#     dataset_id: <dataset_id>

# runtime_params:
    # From 0 to n tools that require runtime parameters
#   tool_0:
#     # From 0 to m parameters for this tool
#     param_0:
        # Name must be determined from the workflow file
#       name: lineNum
#       value: 10
